﻿@{
    ViewBag.Title = "Index";
}
<div class="container">
    <h2>Примеры</h2>
    <a href="@Url.HttpRouteUrl("DefaultApi", new {controller = "Main", action = "GetHierarchy", id = 3390048})">Получение поддерева объектов по заданному объекту</a>
    <p></p>
    <a href="@Url.HttpRouteUrl("DefaultApi", new {controller = "Main", action = "GetObjectById", id = 3390048})">Получение заданного объекта</a>
</div>

<div class="container">
    <h3>Поиск объектов</h3>
    <form role="form" action="@Url.HttpRouteUrl("DefaultApi", new {controller = "Main", action = "FindObjects"})" method="GET">
        <div class="form-group">
            <label for="className"> Тип объекта</label>
            <select class="form-control" id="className">
                <option value="Насос">Насос</option>
                <option value="Труба">Труба</option>
                <option value="Задвижка">Задвижка</option>
            </select>
        </div>
        <div class="form-group">
            <label for="condition">Условие</label>
            <input type="text" id="condition" class="form-control" />
        </div>
        <input type="submit" value="Найти" class="btn-primary">
    </form>
</div>

<div class="container"><h3>Добавление объекта типа "Насос"</h3>
    <form>
        <div class="form-group">
            <label for="mass">Масса</label>
            <input type="number" id="mass" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="date">Дата</label>
            <input type="date" id="date" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="mark">Марка</label>
            <input type="text" id="mark" class="form-control"/>
        </div>

        <div class="form-group">
            <label for="pressure">Напор</label>
            <input type="number" id="pressure" class="form-control"/>
        </div>
        <input type="button" onclick="test()" value="Добавить" class="btn-primary"/>
    </form>
</div>


<script type="text/javascript">

    function getObject() {
        var mass = document.getElementById("mass").value;
        var date = document.getElementById("date").value;
        var mark = document.getElementById("mark").value;
        var pressure = document.getElementById("pressure").value;
        return JSON.stringify({ "Насос": { "Масса": mass, "Дата установки": date, "Марка": mark, "Напор": pressure } });
    }

    function test() {

        $.ajax({
            type: 'POST',
            contentType: "application/json",
            url: "@Url.HttpRouteUrl("DefaultApi", new {controller = "Main", action = "CreateNewObject"})",
            data: getObject(),
            success: function(returnPayload) {
                alert("Добавлен объект с id" + returnPayload);
            },
            error: function(xhr, ajaxOptions, thrownError) {
                console && console.log("request failed");
            },

            processData: false,
            async: false
        });
    }

</script>